doctype html
html(lang="es")
	head
		title Añadiendo un nuevo entrenamiento
		meta(charset="utf-8")
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet")
	body
		h1 Añadir entrenamiento
		form(action="/api/trainings/save", method="POST")
			div(class="form-group")
				label(for="name") Nombre
				input(type="text", name="name", placeholder="Nombre" id="name" class="form-control")
			div(class="form-group")
				label(for="description") Descripción
				input(type="text", name="description", placeholder="Descripción", id="description" class="form-control")
			div
				input(type="submit" value="Añadir" class="btn btn-info")