doctype html
html(lang="es")
	head
		title Entrenamiento guardado
		meta(charset="utf-8")
		link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet")
	body
		h1 Entrenamiento guardado