<!DOCTYPE html>
<html>
  <head>
    <title>Eliminar entrenamiento</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Eliminar entrenamiento</h1>
    <form name="deleteTraining" method="POST" action="/api/trainnings/delete">
    	<div class="form-group">
    		<label for="selectTrainning">Entrenamientos</label>
    		<select class="form-control" id="selectTrainning">
                    <option><%option1%></option>
                    <option><%option2%></option>
            </select>
    	</div>
    	<div>
    		<button type="submit" class="btn btn-primary">Submit</button>
    	</div>
  </body>
</html>
